body {
  background-color: #212121;
  color: white;
  font-family: sans-serif;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
}

header {
  text-align: center;
}

.cards-container {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 270px));
  justify-content: space-around;
  column-gap: 10px;
  row-gap: 20px;
}

.card {
  border-style: none;
  padding: 0;
  outline: none;
  background-color: #4e4e4e;
  color: white;
  width: 250px;
  border-radius: 15px;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05);
}

img {
  border-radius: 15px 15px 0 0;
  height: 250px;
  width: 250px;
  padding: 0;
}

.scores {
  text-align: center;
}
